
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color:#E9ECF5;
}


header {
    
    padding: 10px;
    color: white;
}

nav {
    float: center; 
    text-align: right;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

.book-now-btn {
    background-color: #FFD700;
    border: none;
    color: #333;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: right;
}

.hero-section {
    text-align: center;
    padding: 100px 0;
}

.hotel-name {
    font-size: 65px;
    margin-bottom: 20px;
}

.email-us-btn {
    background-color: #333;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.email-us-btn:hover {
    background-color: #555;
}

button:hover {
    background-color: white;
    
}

footer {
    background-color: #f4f4f4;
    width: 100%;
}

.footer-container {
    display: flex;
    justify-content: space-between; 
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
}

.contact-info-left {
    flex: 1; 
    text-align: left;
}

.contact-info-right {
    flex: 1; 
    text-align: right;
}

.contact-info-left h2 {
    margin-top: 0;
}

.contact-info-left p,
.contact-info-right p {
    margin: 5px 0;
}

@media only screen and (max-width: 768px) {
    .footer-container {
        flex-direction: column; 
    }
    
    .contact-info-left,
    .contact-info-right {
        text-align: center; 
    }
}


.copyright-container {
    width: 100%; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    background-color: #333;
}

.copyright {
    color: white;
}


.bx bx-search-alt-2{
    color: white;
    font-size: 20px;
    margin-left: 10px; 
}